<!DOCTYPE html>
<html>
	<head lang="en">
    <meta charset="UTF-8">
     <script type="text/javascript" src="../jmr_files/utils.js"></script>
    <script type="text/javascript" src="../jmr_files/jquery-1.6.min.js"></script>
	  <script type="text/javascript" src="../jmr_files/jquery.dropotron-1.0.js"></script>
	  <script type="text/javascript" src="../jmr_files/jquery.slidertron-1.1.js"></script> 
		<script type="text/javascript" src="../jmr_files/SimpleTree.js"></script>
	  <link rel="stylesheet" type="text/css" href="../jmr_files/tree_themes/SimpleTree.css"/> 
	   
	    <script type="text/javascript">
			$(function(){
				$(".st_tree").SimpleTree({
					click:function(a){
					}
				});
			});
			
			function treego(a){
				parent.window.location.href=a;
			}
			</script>
 
  </head>
<body> 
	<div id="treediv" style="float:left; text-align:left; margin:0 50px 0 0; border:3px solid #999; padding:10px; width:80%; height:1000px; overflow:auto; position: fixed;" class="st_tree">
	<ul name="treeshow">
											<!-- 1-前言start -->
                 			<li name="treeshowli">
                 				<a href="#" onclick="treego('preface.html')">前言</a>
                 			</li>
                 			<!-- 1-前言end -->
                 			
                 			
                 			<!-- 1-开始start -->
                 			<li name="treeshowli">
                 				<a href="#" onclick="treego('head-experience-tour.html')">开始</a>
                 			</li> 
                 				<ul name="treeshow">
                 					<!-- 2-Hello Jmr start -->
		                 			<li>
		                 				<a href="#" onclick="treego('HelloJmr.html')">Hello Jmr</a>
		                 			</li> 
		                 			<!-- 2-Hello Jmr end -->
		                 		</ul>
		                  <!-- 1-开始end -->
		                  
		                 		
		                 	<!-- 1-模板start -->
                 			<li name="treeshowli">
                 				<a href="#" onclick="treego('head-template.html')">模板</a>
                 			</li>  
                 				<ul name="treeshow">
                 					<!-- 2-概览start -->
		                 			<li>
		                 				<a href="#" onclick="treego('template-preface.html')">概览</a>
		                 			</li> 
		                 			<!-- 2-概览end -->
		                 			<!-- 2-规范start -->
		                 			<li name="treeshowli">
		                 				<a href="#" onclick="treego('head-template-standard.html')">规范</a> 
		                 			</li>
		                 				<ul name="treeshow">
				                 			<li>
				                 				<a href="#" onclick="treego('template-name.html')">模板命名规范</a>
				                 			</li> 
				                 		</ul>
		                 			<!-- 2-规范end -->
		                 			<!-- 2-指令start -->
		                 			<li name="treeshowli">
		                 				<a href="#" onclick="treego('head-template-instruction.html')">指令</a> 
		                 			</li> 
		                 				<ul name="treeshow">
				                 			<li>
				                 				<a href="#" onclick="treego('template-compile.html')">编译声明</a>
				                 			</li> 
				                 			<li>
				                 				<a href="#" onclick="treego('template-import.html')">导入声明</a>
				                 			</li>  
				                 			<li>
				                 				<a href="#" onclick="treego('template-comment.html')">注释</a>
				                 			</li> 
				                 		</ul>
		                 			<!-- 2-指令end -->
		                 			<!-- 2-脚本标签start -->
		                 			<li name="treeshowli">
		                 				<a href="#" onclick="treego('head-template-script.html')">脚本标签</a> 
		                 			</li> 
		                 				<ul name="treeshow">
				                 			<li>
				                 				<a href="#" onclick="treego('script-declare.html')"><%! %> - 声明</a>
				                 			</li> 
				                 			<li>
				                 				<a href="#" onclick="treego('script-script.html')"><% %> - 脚本</a>
				                 			</li>  
				                 			<li>
				                 				<a href="#" onclick="treego('script-expression.html')"><%= %> - 表达式</a>
				                 			</li> 
				                 		</ul>
		                 			<!-- 2-脚本标签end -->
		                 			<!-- 2-内置对象start -->
		                 			<li name="treeshowli">
		                 				<a href="#" onclick="treego('head-template-object.html')">内置对象</a> 
		                 			</li> 
		                 				<ul name="treeshow">
				                 			<li>
				                 				<a href="#" onclick="treego('out.html')">out - 打印</a>
				                 			</li> 
				                 			<li name="treeshowli">
				                 				<a href="#" onclick="treego('head-template-context.html')">context - 参数容器</a>
				                 			</li>  
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('template-var.html')">var - 模板参数</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('template-session-var.html')">sessionVar - 全局参数</a>
						                 			</li>  
						                 		</ul>
				                 		</ul>
		                 			<!-- 2-内置对象end -->
		                 			<!-- 2-标签end -->
		                 			<li name="treeshowli">
		                 				<a href="#" onclick="treego('head-template-tag.html')">标签</a> 
		                 			</li>
		                 				<ul name="treeshow">
				                 			<li name="treeshowli">
				                 				<a href="#" onclick="treego('head-tag-entity.html')">模型标签</a>
				                 			</li> 
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('tag-entity.html')">entity - 实体对象</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('tag-field.html')">field - 字段</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-xml.html')">xml - xml对象</a>
						                 			</li>  
						                 		</ul>
				                 			<li name="treeshowli">
				                 				<a href="#" onclick="treego('head-tag-common.html')">常规标签</a>
				                 			</li>   
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('tag-get.html')">get - 获取参数</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('tag-set.html')">set - 设置参数</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-if.html')">if - 判断</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-elseif.html')">elseif - 判断</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-else.html')">else - 判断</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-for.html')">for - 循环迭代</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-delimiter.html')">delimiter - 是否打印分割符</a>
						                 			</li> 
						                 		</ul>
				                 			<li name="treeshowli">
				                 				<a href="#" onclick="treego('head-tag-xml.html')">xml标签</a>
				                 			</li> 
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('tag-xml-get.html')">xml:get - 获取xml参数</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('tag-xml-set.html')">xml:set - 设置Xml变量</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-xml-if.html')">xml:if - xml判断</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-xml-elseif.html')">xml:elseif - xml判断</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-xml-else.html')">xml:else - xml判断</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-xml-for.html')">xml:for - xml循环迭代</a>
						                 			</li>  
						                 		</ul>
				                 			<li name="treeshowli">
				                 				<a href="#" onclick="treego('head-tag-merge.html')">合并标签</a>
				                 			</li> 
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('tag-insert.html')">insert - 插入</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('tag-update.html')">update - 更新</a>
						                 			</li>  
						                 		</ul>
				                 			<li name="treeshowli">
				                 				<a href="#" onclick="treego('head-tag-include.html')">嵌套标签</a>
				                 			</li> 
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('tag-include.html')">include - 嵌套模板</a>
						                 			</li>  
						                 		</ul>
				                 			<li name="treeshowli">
				                 				<a href="#" onclick="treego('head-tag-format.html')">格式化标签</a>
				                 			</li> 
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('tag-f.html')">f - 格式化</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('tag-getf.html')">getf - 格式化获取参数</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-ws.html')">ws - 空格</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-nl.html')">nl - 换行</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-tab.html')">tab - 制表</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-date.html')">date - 格式化时间</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-number.html')">number - 格式化数字</a>
						                 			</li> 
						                 		</ul>
				                 			<li name="treeshowli">
				                 				<a href="#" onclick="treego('head-tag-java.html')">java标签</a>
				                 			</li> 
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('tag-java-package.html')">java:package - 得到包名</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('tag-java-class.html')">java:class - 得到类名</a>
						                 			</li>  
						                 		</ul>
				                 			<li name="treeshowli">
				                 				<a href="#" onclick="treego('head-tag-task.html')">任务标签</a>
				                 			</li> 
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('tag-task-group.html')">task:group - 模型组</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('tag-task-action.html')">task:action - action类</a>
						                 			</li>  
						                 			<li>
						                 				<a href="#" onclick="treego('tag-task-template.html')">task:template - 模板路径</a>
						                 			</li>   
						                 			<li>
						                 				<a href="#" onclick="treego('tag-task-directory.html')">task:directory - 生成文件所在目录</a>
						                 			</li>   
						                 			<li>
						                 				<a href="#" onclick="treego('tag-task-name.html')">task:name - 生成文件名</a>
						                 			</li>   
						                 			<li>
						                 				<a href="#" onclick="treego('tag-task-ext.html')">task:ext - 生成文件扩展名</a>
						                 			</li>   
						                 			<li>
						                 				<a href="#" onclick="treego('tag-task-encoding.html')">task:encoding - 生成文件编码</a>
						                 			</li>   
						                 			<li>
						                 				<a href="#" onclick="treego('tag-task-mode.html')">task:mode - 生成文件模式</a>
						                 			</li>  
						                 		</ul>
				                 		</ul>
		                 			<!-- 2-标签end -->
		                 		</ul>
		                 <!-- 1-模板end -->
                 			
                 			
                 			<!-- 1-模型start -->
                 			<li name="treeshowli">
                 				<a href="#" onclick="treego('head-model.html')">模型</a>
                 			</li> 
                 				<ul name="treeshow">
                 					<!-- 2-转换start -->
		                 			<li name="treeshowli">
		                 				<a href="#" onclick="treego('head-model-transform.html')">转换</a>
		                 			</li> 
		                 				<ul name="treeshow">
				                 			<li>
				                 				<a href="#" onclick="treego('model-db.html')">数据库</a>
				                 			</li> 
				                 			<li>
				                 				<a href="#" onclick="treego('model-java.html')">Java类</a>
				                 			</li> 
				                 			<li>
				                 				<a href="#" onclick="treego('model-xml.html')">Xml文件</a>
				                 			</li> 
				                 		</ul>
		                 			<!-- 2-转换end --> 
		                 			<!-- 2-结构start -->
		                 			<li name="treeshowli">
		                 				<a href="#" onclick="treego('head-model-structure.html')">结构</a>
		                 			</li> 
		                 				<ul name="treeshow">
				                 			<li name="treeshowli">
				                 				<a href="#" onclick="treego('model-structure-entity.html')">entity（数据库、Java类）</a>
				                 			</li> 
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('model-structure-property.html')">property</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('model-structure-field-column-data.html')">Field、Column、Data</a>
						                 			</li> 
						                 		</ul>
				                 			<li>
				                 				<a href="#" onclick="treego('model-structure-xml.html')">xml（xml文件）</a>
				                 			</li> 
				                 		</ul>
		                 			<!-- 2-结构end -->  
		                 			<!-- 2-预设start -->
		                 			<li name="treeshowli">
		                 				<a href="#" onclick="treego('head-model-init.html')">预设</a>
		                 			</li> 
		                 				<ul name="treeshow">
				                 			<li>
				                 				<a href="#" onclick="treego('model-init-plan.html')">预设方案</a>
				                 			</li> 
				                 			<li>
				                 				<a href="#" onclick="treego('model-init-mapping.html')">映射和转换</a>
				                 			</li> 
				                 		</ul>
		                 			<!-- 2-预设end --> 
		                 		</ul>
                 			<!-- 1-模型end --> 
                 			
                 			
                 			<!-- 1-任务start --> 
                 			<li name="treeshowli">
                 				<a href="#" onclick="treego('head-task.html')">任务</a>
                 			</li> 
                 				<ul name="treeshow">
                 					<!-- 2-配置start --> 
		                 			<li>
		                 				<a href="#" onclick="treego('task-set.html')">配置</a>
		                 			</li> 
		                 			<!-- 2-配置end -->  
		                 			<!-- 2-运行start --> 
		                 			<li>
		                 				<a href="#" onclick="treego('task-run.html')">运行</a>
		                 			</li> 
		                 			<!-- 2-运行end -->  
		                 			<!-- 2-合并start --> 
		                 			<li>
		                 				<a href="#" onclick="treego('task-merge.html')">合并</a>
		                 			</li> 
		                 			<!-- 2-合并end --> 
		                 		</ul>
		                 	<!-- 1-任务end -->  
		                 	
		                 	
		                 	<!-- 1-action start --> 
                 			<li>
                 				<a href="#" onclick="treego('model-action.html')">action</a>
                 			</li> 
                 			<!-- 1-action start -->  
                 			
                 			
                 			<!-- 1-实战start --> 
                 			<li name="treeshowli">
                 				<a href="#" onclick="treego('demo-java.html')">实战</a>
                 			</li> 
                 				<ul name="treeshow">
                 					<!-- 2-模型start --> 
		                 			<li>
		                 				<a href="#" onclick="treego('demo-java-model.html')">模型</a>
		                 			</li> 
		                 			<!-- 2-模型end -->  
		                 			<!-- 2-模板start --> 
		                 			<li name="treeshowli">
		                 				模板
		                 			</li> 
		                 				<ul name="treeshow">
				                 			<li name="treeshowli">
				                 				model
				                 			</li> 
				                 				<ul name="treeshow">
						                 			<li name="treeshowli">
						                 				entity
						                 			</li> 
						                 				<ul name="treeshow">
								                 			<li>
								                 				<a href="#" onclick="treego('demo-java-entity.html')">entity</a>
								                 			</li> 
								                 			<li>
								                 				<a href="#" onclick="treego('demo-java-hibernate.html')">hibernate</a>
								                 			</li> 
								                 		</ul>
						                 			<li name="treeshowli">
						                 				dao
						                 			</li>
						                 				<ul name="treeshow">
								                 			<li>
								                 				<a href="#" onclick="treego('demo-java-dao.html')">dao</a>
								                 			</li> 
								                 			<li>
								                 				<a href="#" onclick="treego('demo-java-daoImpl.html')">daoImpl</a>
								                 			</li> 
								                 		</ul> 
						                 			<li name="treeshowli">
						                 				service
						                 			</li> 
						                 				<ul name="treeshow">
								                 			<li>
								                 				<a href="#" onclick="treego('demo-java-service.html')">service</a>
								                 			</li> 
								                 			<li>
								                 				<a href="#" onclick="treego('demo-java-serviceImpl.html')">serviceImpl</a>
								                 			</li> 
								                 			<li>
								                 				<a href="#" onclick="treego('demo-java-spring.html')">spring</a>
								                 			</li> 
								                 		</ul> 
						                 		</ul>
				                 			<li name="treeshowli">
				                 				controller
				                 			</li> 
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('demo-java-action.html')">action</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('demo-java-struts.html')">struts</a>
						                 			</li> 
						                 		</ul> 
				                 			<li name="treeshowli">
				                 				view
				                 			</li> 
				                 				<ul name="treeshow">
						                 			<li>
						                 				<a href="#" onclick="treego('demo-java-menu.html')">menu</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('demo-java-view.html')">view</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('demo-java-add.html')">add</a>
						                 			</li> 
						                 			<li>
						                 				<a href="#" onclick="treego('demo-java-update.html')">update</a>
						                 			</li> 
						                 		</ul> 
				                 		</ul>
		                 			<!-- 2-模板end -->  
		                 		</ul>
                 			<!-- 1-实战end --> 
                 			
                 			
                 			<!-- 1-安装与卸载start --> 
                 			<li>
                 				<a href="#" onclick="treego('install-and-uninstall.html')">安装与卸载</a>
                 			</li> 
                 			<!-- 1-安装与卸载end -->  
                 			
                 			
                 			<!-- 1-常见问题解答start --> 
                 			<li>
                 				<a href="#" onclick="treego('question-and-answer.html')">常见问题解答</a>
                 			</li> 
                 			<!-- 1-常见问题解答end --> 
                 			
                 			
                 		</ul>
        </div> 
         
          <script type="text/javascript">
     	 window.onload = function() {
					treecontext();
				}; 
			
			function treecontext()
			{
				//获取树的内容
					var cookie_val = getTreeCookie("treecookie");
					if(cookie_val != null && cookie_val != "")
					{
						cookie_val = cookie_val.substring(0,cookie_val.length - 1);
						//字符串转为数组
						var cookie_val2 = cookie_val.split(",");     
						var cookie_val3 = "";
						var cookie_val4 = "";
						var treeshow = document.getElementsByName('treeshow'); 
						var treeshowli = document.getElementsByName('treeshowli'); 
						for(i=0;i<cookie_val2.length;i++){
			       //cookie_val3 += cookie_val2[i] + ";";
			       cookie_val4 += treeshow[i].getAttribute("show") + ",";
			       treeshow[i].setAttribute("show",cookie_val2[i]);
			       cookie_val3 += treeshow[i].getAttribute("show") + ";";
			       if(cookie_val2[i] == "true")
			       {
			       		treeshow[i].setAttribute("style", "display:block;"); 
			       		treeshowli[i].setAttribute("class", "folder open"); 
			       }
			       else
			       {
			        	if(i > 1)
			        	{
			        		treeshowli[i].setAttribute("class", "folder");
			        	}
			       }
			       
			   		}
					}
					//获取滚动条位置
					var cookie_valx = getTreeCookie("treexcookie"); 
					if(cookie_valx != null && cookie_valx != "")
					{ 
						document.getElementById('treediv').scrollTop=cookie_valx;//通过scrollTop设置滚动
					}
			}
				
			window.onbeforeunload = onbeforeunload_handler;  
			function onbeforeunload_handler()
			{
				//记录树
					var treeshow = document.getElementsByName('treeshow'); 
			    var str = "";
			    var strx = "";
			    var stry = "";
			    for(i=0;i<treeshow.length;i++){
			        str += treeshow[i].getAttribute("show") + ",";
			    } 
			    var strx = document.getElementById("treediv").scrollTop;
			    setTreeCookie("treecookie", str, 365);
			    setTreeCookie("treexcookie", strx, 365); 
			}
			
			function setTreeCookie(treename, treevalue, exdays){
			    document.cookie = treename + "="+ treevalue;
		     	var d = new Date();
			    d.setTime(d.getTime() + (exdays*24*60*60*1000));
			    var expires = "expires="+d.toUTCString();
			    document.cookie = treename + "=" + treevalue + "; " + expires;
			}
			
			function getTreeCookie(treename){
			     var name = treename + "=";
				    var ca = document.cookie.split(';');
				    for(var i=0; i<ca.length; i++) {
				        var c = ca[i];
				        while (c.charAt(0)==' ') c = c.substring(1);
				        if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
				    }
				    return "";
			} 
			
			function clearcookie(){
			    setTreeCookie('treecookie', '','');
			    setTreeCookie('treexcookie', '','');
			} 
    </script>
										
</body>
</html>